@model StoreApplication.Models.ItemModel

@{
    ViewBag.Title = "NewItem";
}

<h2>NewItem</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    
    @Html.LabelFor(model => model.Price)
    @Html.EditorFor(model => model.Price)
    
    @Html.LabelFor(model => model.Category)
    @Html.EditorFor(model => model.Category)

    <br />
    <input type="submit" value="Save">
}

@Html.ActionLink("Cancel", "Cancel", "Home");



